.contenedor {
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 20%;
    background-color: #9DB9CB;
    border-radius: 10px;
  }

  body{
    background-color: #214965;
  }
  
  header{
    color: aliceblue;
  }
    
  form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
    
  label {
    margin: 10px 0;
  }
    
  input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    color: black;
  }
    
  button{
    font-weight: 500;
    cursor: pointer;
  }